{{#if isShowingModal}}
  {{#modal-dialog alignment="none" translucentOverlay=true container-class="pageEditModal" close="closeModal"}}
    <div class="pageEditModal__header">
      <div class="pageEditModal__header__thumbnail">
        <img src={{editedCard.thumbnail}} alt={{editedCard.name}}>
      </div>
      <div class="pageEditModal__header__text">
        <h3 class="pageEditModal__header__title">{{editedCard.name}} Card</h3>
        <p class="pageEditModal__header__description">{{editedCard.description}}</p>
      </div>
    </div>
    <div class="row pageEditModal__body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  {{/modal-dialog}}
{{/if}}

<div class="col-md-12">
  {{template-editor page=model templateId=model.templateId sendPosition="chooseSlot" editCard="editCard" isSelectingSlot=isSelectingSlot}}
</div>