<div class="templateEdit__container">
  <div class="templateEdit__navBar">
    {{template-slot position=0 class="templateEdit__navBar__brand" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__hero">
    <div class="templateEdit__carousel">
      {{template-slot position=1 class="templateEdit__carousel__body" sendPosition="sendPosition"}}
      {{template-slot position=2 class="templateEdit__carousel__form" sendPosition="sendPosition"}}
    </div>
  </div>

  <div class="templateEdit__testimonial">
    {{template-slot position=3 class="templateEdit__testimonial__body" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__features">
    {{template-slot position=4 class="templateEdit__features__body" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__footer">
    {{template-slot position=5 class="templateEdit__footer__body" sendPosition="sendPosition"}}
  </div>
</div>