<div class="templateEdit__container">
  <div class="templateEdit__navBar">
    {{template-slot card=slot0 position=0 class="templateEdit__navBar__brand" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__hero">
    {{template-slot card=slot1 position=1 class="templateEdit__hero__masthead" sendPosition="sendPosition"}}
    {{template-slot card=slot2 position=2 class="templateEdit__hero__video" sendPosition="sendPosition"}}
    {{template-slot card=slot3 position=3 class="templateEdit__hero__form" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__testimonial">
    {{template-slot card=slot4 position=4 class="templateEdit__testimonial__body" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__features">
    {{template-slot card=slot5 position=5 class="templateEdit__features__body" sendPosition="sendPosition"}}
  </div>

  <div class="templateEdit__footer">
    {{template-slot card=slot6 position=6 class="templateEdit__footer__body" sendPosition="sendPosition"}}
  </div>
</div>